*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: purple;
    
}

div{
    margin-left: 250px; 
    width: 2px;
    height: 2px;
    box-shadow:

147px	283px	1px	1px	red,
150px	290px	1px	1px	red,
151px	276px	1px	1px	red,
155px	285px	1px	1px	red,
155px	269px	1px	1px	red,
154px	290px	1px	1px	red,
157px	279px	1px	1px	red,
159px	263px	1px	1px	red,
161px	272px	1px	1px	red,
163px	257px	1px	1px	red,
165px	265px	1px	1px	red,
167px	250px	1px	1px	red,
170px	258px	1px	1px	red,
172px	245px	1px	1px	red,
175px	252px	1px	1px	red,
177px	239px	1px	1px	red,
181px	245px	1px	1px	red,
183px	239px	1px	1px	red,
187px	241px	1px	1px	red,
193px	223px	1px	1px	red,
199px	221px	1px	1px	red,
199px	228px	1px	1px	red,
205px	217px	1px	1px	red,
205px	224px	1px	1px	red,
211px	215px	1px	1px	red,
211px	222px	1px	1px	red,
217px	214px	1px	1px	red,
217px	220px	1px	1px	red,
223px	210px	1px	1px	red,
223px	218px	1px	1px	red,
229px	210px	1px	1px	red,
229px	217px	1px	1px	red,
235px	213px	1px	1px	red,
238px	218px	1px	1px	red,
241px	209px	1px	1px	red,
243px	216px	1px	1px	red,
249px	210px	1px	1px	red,
249px	218px	1px	1px	red,
255px	212px	1px	1px	red,
255px	220px	1px	1px	red,
261px	214px	1px	1px	red,
261px	221px	1px	1px	red,
265px	224px	1px	1px	red,
267px	217px	1px	1px	red,
271px	223px	1px	1px	red,
272px	230px	1px	1px	red,
277px	222px	1px	1px	red,
278px	229px	1px	1px	red,
279px	235px	1px	1px	red,
284px	228px	1px	1px	red,
285px	234px	1px	1px	red,
285px	241px	1px	1px	red,
291px	235px	1px	1px	red,
291px	241px	1px	1px	red,
291px	247px	1px	1px	red,
294px	251px	1px	1px	red,
297px	240px	1px	1px	red,
297px	246px	1px	1px	red,
298px	256px	1px	1px	red,
302px	250px	1px	1px	red,
302px	261px	1px	1px	red,
306px	267px	1px	1px	red,
307px	254px	1px	1px	red,
308px	259px	1px	1px	red,
310px	274px	1px	1px	red,
312px	264px	1px	1px	red,
313px	281px	1px	1px	red,
316px	271px	1px	1px	red,
317px	288px	1px	1px	red,
320px	280px	1px	1px	red,
320px	274px	1px	1px	red,
323px	287px	1px	1px	red,
323px	281px	1px	1px	red,
328px	290px	1px	1px	red,
329px	310px	1px	1px	red,
328px	293px	1px	1px	red,
333px	316px	1px	1px	red,
335px	309px	1px	1px	red,
336px	322px	1px	1px	red,
340px	315px	1px	1px	red,
339px	327px	1px	1px	red,
339px	309px	1px	1px	red,
342px	334px	1px	1px	red,
344px	318px	1px	1px	red,
345px	324px	1px	1px	red,
346px	340px	1px	1px	red,
348px	330px	1px	1px	red,
349px	335px	1px	1px	red,
351px	344px	1px	1px	red,
353px	335px	1px	1px	red,
355px	340px	1px	1px	red,
355px	351px	1px	1px	red,
358px	345px	1px	1px	red,
360px	357px	1px	1px	red,
362px	350px	1px	1px	red,
364px	363px	1px	1px	red,
366px	357px	1px	1px	red,
370px	358px	1px	1px	red,
379px	377px	1px	1px	red,
384px	374px	1px	1px	red,
384px	381px	1px	1px	red,
390px	375px	1px	1px	red,
390px	381px	1px	1px	red,
393px	385px	1px	1px	red,
396px	378px	1px	1px	red,
398px	385px	1px	1px	red,
403px	389px	1px	1px	red,
404px	381px	1px	1px	red,
409px	388px	1px	1px	red,
410px	382px	1px	1px	red,
415px	388px	1px	1px	red,
421px	384px	1px	1px	red,
421px	389px	1px	1px	red,
427px	384px	1px	1px	red,
427px	390px	1px	1px	red,
434px	383px	1px	1px	red,
433px	390px	1px	1px	red,
439px	382px	1px	1px	red,
439px	389px	1px	1px	red,
445px	380px	1px	1px	red,
445px	387px	1px	1px	red,
451px	377px	1px	1px	red,
451px	384px	1px	1px	red,
457px	374px	1px	1px	red,
457px	381px	1px	1px	red,
463px	369px	1px	1px	red,
463px	377px	1px	1px	red,
469px	363px	1px	1px	red,
469px	371px	1px	1px	red,
467px	375px	1px	1px	red,
475px	356px	1px	1px	red,
475px	365px	1px	1px	red,
474px	369px	1px	1px	red,
480px	350px	1px	1px	red,
481px	360px	1px	1px	red,
485px	344px	1px	1px	red,
486px	354px	1px	1px	red,
490px	336px	1px	1px	red,
491px	346px	1px	1px	red,
494px	329px	1px	1px	red,
496px	338px	1px	1px	red,
498px	323px	1px	1px	red,
500px	332px	1px	1px	red,
502px	316px	1px	1px	red,
500px	337px	1px	1px	red,
504px	325px	1px	1px	red,
505px	312px	1px	1px	red,
507px	316px	1px	1px	red,
522px	278px	1px	1px	red,
522px	287px	1px	1px	red,
522px	291px	1px	1px	red,
526px	271px	1px	1px	red,
528px	281px	1px	1px	red,
526px	288px	1px	1px	red,
530px	265px	1px	1px	red,
532px	274px	1px	1px	red,
534px	258px	1px	1px	red,
532px	280px	1px	1px	red,
536px	267px	1px	1px	red,
539px	251px	1px	1px	red,
541px	260px	1px	1px	red,
544px	244px	1px	1px	red,
546px	253px	1px	1px	red,
550px	238px	1px	1px	red,
550px	245px	1px	1px	red,
550px	251px	1px	1px	red,
556px	240px	1px	1px	red,
554px	244px	1px	1px	red,
565px	223px	1px	1px	red,
570px	221px	1px	1px	red,
570px	228px	1px	1px	red,
576px	218px	1px	1px	red,
576px	225px	1px	1px	red,
582px	215px	1px	1px	red,
582px	222px	1px	1px	red,
588px	214px	1px	1px	red,
588px	220px	1px	1px	red,
594px	213px	1px	1px	red,
594px	219px	1px	1px	red,
600px	209px	1px	1px	red,
600px	217px	1px	1px	red,
606px	211px	1px	1px	red,
606px	217px	1px	1px	red,
610px	152px	1px	1px	red,
610px	181px	1px	1px	red,
612px	157px	1px	1px	red,
612px	209px	1px	1px	red,
612px	217px	1px	1px	red,
614px	163px	1px	1px	red,
616px	179px	1px	1px	red,
617px	169px	1px	1px	red,
618px	210px	1px	1px	red,
618px	218px	1px	1px	red,
620px	174px	1px	1px	red,
623px	161px	1px	1px	red,
622px	168px	1px	1px	red,
624px	211px	1px	1px	red,
624px	219px	1px	1px	red,
626px	154px	1px	1px	red,
629px	221px	1px	1px	red,
630px	213px	1px	1px	red,
629px	151px	1px	1px	red,
635px	221px	1px	1px	red,
636px	215px	1px	1px	red,
639px	225px	1px	1px	red,
642px	218px	1px	1px	red,
645px	225px	1px	1px	red,
646px	231px	1px	1px	red,
647px	154px	1px	1px	red,
647px	162px	1px	1px	red,
651px	224px	1px	1px	red,
652px	231px	1px	1px	red,
653px	154px	1px	1px	red,
653px	162px	1px	1px	red,
653px	236px	1px	1px	red,
658px	230px	1px	1px	red,
659px	154px	1px	1px	red,
659px	162px	1px	1px	red,
659px	236px	1px	1px	red,
659px	243px	1px	1px	red,
663px	247px	1px	1px	red,
664px	154px	1px	1px	red,
664px	162px	1px	1px	red,
665px	237px	1px	1px	red,
665px	243px	1px	1px	red,
667px	252px	1px	1px	red,
671px	243px	1px	1px	red,
671px	258px	1px	1px	red,
673px	250px	1px	1px	red,
676px	264px	1px	1px	red,
678px	255px	1px	1px	red,
680px	270px	1px	1px	red,
682px	261px	1px	1px	red,
684px	156px	1px	1px	red,
684px	170px	1px	1px	red,
684px	277px	1px	1px	red,
686px	267px	1px	1px	red,
686px	284px	1px	1px	red,
689px	161px	1px	1px	red,
690px	151px	1px	1px	red,
691px	170px	1px	1px	red,
690px	275px	1px	1px	red,
690px	289px	1px	1px	red,
693px	282px	1px	1px	red,
695px	163px	1px	1px	red,
696px	152px	1px	1px	red,
696px	169px	1px	1px	red,
696px	289px	1px	1px	red,
697px	283px	1px	1px	red,
701px	289px	1px	1px	red,
702px	310px	1px	1px	red,
703px	292px	1px	1px	red,
705px	316px	1px	1px	red,
708px	143px	1px	1px	red,
708px	152px	1px	1px	red,
708px	158px	1px	1px	red,
708px	164px	1px	1px	red,
708px	170px	1px	1px	red,
708px	309px	1px	1px	red,
708px	322px	1px	1px	red,
711px	315px	1px	1px	red,
711px	328px	1px	1px	red,
712px	143px	1px	1px	red,
714px	334px	1px	1px	red,
716px	321px	1px	1px	red,
718px	340px	1px	1px	red,
720px	329px	1px	1px	red,
721px	335px	1px	1px	red,
721px	155px	1px	1px	red,
721px	162px	1px	1px	red,
721px	169px	1px	1px	red,
723px	347px	1px	1px	red,
725px	340px	1px	1px	red,
724px	170px	1px	1px	red,
725px	334px	1px	1px	red,
727px	153px	1px	1px	red,
725px	161px	1px	1px	red,
728px	347px	1px	1px	red,
728px	354px	1px	1px	red,
729px	340px	1px	1px	red,
733px	359px	1px	1px	red,
733px	152px	1px	1px	red,
733px	347px	1px	1px	red,
734px	351px	1px	1px	red,
737px	157px	1px	1px	red,
737px	165px	1px	1px	red,
737px	171px	1px	1px	red,
737px	363px	1px	1px	red,
738px	356px	1px	1px	red,
741px	160px	1px	1px	red,
741px	168px	1px	1px	red,
742px	358px	1px	1px	red,
749px	158px	1px	1px	red,
749px	166px	1px	1px	red,
750px	172px	1px	1px	red,
751px	377px	1px	1px	red,
751px	149px	1px	1px	red,
753px	177px	1px	1px	red,
755px	144px	1px	1px	red,
756px	374px	1px	1px	red,
756px	381px	1px	1px	red,
762px	375px	1px	1px	red,
762px	381px	1px	1px	red,
764px	171px	1px	1px	red,
763px	385px	1px	1px	red,
764px	152px	1px	1px	red,
768px	156px	1px	1px	red,
768px	378px	1px	1px	red,
769px	166px	1px	1px	red,
767px	171px	1px	1px	red,
769px	385px	1px	1px	red,
773px	388px	1px	1px	red,
774px	160px	1px	1px	red,
775px	381px	1px	1px	red,
777px	169px	1px	1px	red,
778px	388px	1px	1px	red,
779px	153px	1px	1px	red,
782px	382px	1px	1px	red,
782px	172px	1px	1px	red,
784px	388px	1px	1px	red,
783px	150px	1px	1px	red,
790px	145px	1px	1px	red,
790px	177px	1px	1px	red,
790px	383px	1px	1px	red,
790px	390px	1px	1px	red,
793px	150px	1px	1px	red,
794px	170px	1px	1px	red,
795px	158px	1px	1px	red,
795px	164px	1px	1px	red,
796px	387px	1px	1px	red,
799px	391px	1px	1px	red,
802px	385px	1px	1px	red,
805px	390px	1px	1px	red,
808px	383px	1px	1px	red,
811px	389px	1px	1px	red,
814px	381px	1px	1px	red,
816px	388px	1px	1px	red,
820px	379px	1px	1px	red,
822px	386px	1px	1px	red,
826px	376px	1px	1px	red,
826px	382px	1px	1px	red,
832px	371px	1px	1px	red,
832px	379px	1px	1px	red,
838px	366px	1px	1px	red,
838px	374px	1px	1px	red,
844px	360px	1px	1px	red,
845px	368px	1px	1px	red,
843px	372px	1px	1px	red,
849px	354px	1px	1px	red,
850px	364px	1px	1px	red,
854px	347px	1px	1px	red,
855px	357px	1px	1px	red,
859px	341px	1px	1px	red,
860px	350px	1px	1px	red,
863px	334px	1px	1px	red,
865px	343px	1px	1px	red,
867px	327px	1px	1px	red,
870px	337px	1px	1px	red,
871px	320px	1px	1px	red,
869px	342px	1px	1px	red,
873px	330px	1px	1px	red,
875px	313px	1px	1px	red,
873px	335px	1px	1px	red,
877px	323px	1px	1px	red,
881px	310px	1px	1px red,
881px	316px	1px	1px	red,
886px	290px	1px	1px	red,
886px	310px	1px	1px	red,
889px	284px	1px	1px	red,
147px	214px	1px	1px	blue,
151px	217px	1px	1px	blue,
153px	210px	1px	1px	blue,
157px	216px	1px	1px	blue,
163px	212px	1px	1px	blue,
163px	220px	1px	1px	blue,
169px	215px	1px	1px	blue,
169px	222px	1px	1px	blue,
174px	225px	1px	1px	blue,
175px	217px	1px	1px	blue,
180px	225px	1px	1px	blue,
181px	221px	1px	1px	blue,
183px	231px	1px	1px	blue,
187px	226px	1px	1px	blue,
188px	232px	1px	1px	blue,
189px	238px	1px	1px	blue,
194px	232px	1px	1px	blue,
195px	238px	1px	1px	blue,
195px	244px	1px	1px	blue,
200px	247px	1px	1px	blue,
201px	239px	1px	1px	blue,
203px	254px	1px	1px	blue,
206px	247px	1px	1px	blue,
207px	259px	1px	1px	blue,
211px	253px	1px	1px	blue,
211px	264px	1px	1px	blue,
215px	271px	1px	1px	blue,
216px	258px	1px	1px	blue,
217px	263px	1px	1px	blue,
219px	277px	1px	1px	blue,
221px	268px	1px	1px	blue,
221px	284px	1px	1px	blue,
225px	276px	1px	1px	blue,
231px	152px	1px	1px	blue,
230px	280px	1px	1px	blue,
232px	181px	1px	1px	blue,
232px	287px	1px	1px	blue,
234px	158px	1px	1px	blue,
236px	165px	1px	1px	blue,
238px	178px	1px	1px	blue,
236px	291px	1px	1px	blue,
237px	315px	1px	1px	blue,
240px	171px	1px	1px	blue,
241px	308px	1px	1px	blue,
241px	321px	1px	1px	blue,
244px	162px	1px	1px	blue,
243px	171px	1px	1px	blue,
245px	325px	1px	1px	blue,
247px	154px	1px	1px	blue,
246px	312px	1px	1px	blue,
248px	332px	1px	1px	blue,
250px	317px	1px	1px	blue,
251px	324px	1px	1px	blue,
251px	151px	1px	1px	blue,
253px	337px	1px	1px	blue,
255px	329px	1px	1px	blue,
256px	343px	1px	1px	blue,
259px	336px	1px	1px	blue,
260px	348px	1px	1px	blue,
263px	342px	1px	1px	blue,
264px	354px	1px	1px	blue,
267px	348px	1px	1px	blue,
269px	360px	1px	1px	blue,
269px	153px	1px	1px	blue,
269px	162px	1px	1px	blue,
272px	354px	1px	1px	blue,
273px	365px	1px	1px	blue,
275px	153px	1px	1px	blue,
275px	162px	1px	1px	blue,
276px	360px	1px	1px	blue,
279px	370px	1px	1px	blue,
281px	153px	1px	1px	blue,
281px	162px	1px	1px	blue,
282px	364px	1px	1px	blue,
285px	371px	1px	1px	blue,
286px	377px	1px	1px	blue,
286px	153px	1px	1px	blue,
286px	162px	1px	1px	blue,
291px	371px	1px	1px	blue,
292px	378px	1px	1px	blue,
295px	382px	1px	1px	blue,
298px	375px	1px	1px	blue,
300px	382px	1px	1px	blue,
304px	386px	1px	1px	blue,
306px	159px	1px	1px	blue,
306px	379px	1px	1px	blue,
307px	168px	1px	1px	blue,
310px	385px	1px	1px	blue,
311px	153px	1px	1px	blue,
313px	171px	1px	1px	blue,
316px	382px	1px	1px	blue,
316px	388px	1px	1px	blue,
317px	152px	1px	1px	blue,
319px	170px	1px	1px	blue,
322px	383px	1px	1px	blue,
322px	390px	1px	1px	blue,
321px	152px	1px	1px	blue,
328px	386px	1px	1px	blue,
329px	159px	1px	1px	blue,
330px	168px	1px	1px	blue,
331px	391px	1px	1px	blue,
334px	152px	1px	1px	blue,
334px	382px	1px	1px	blue,
335px	171px	1px	1px	blue,
336px	389px	1px	1px	blue,
340px	152px	1px	1px	blue,
340px	384px	1px	1px	blue,
341px	170px	1px	1px	blue,
343px	389px	1px	1px	blue,
345px	159px	1px	1px	blue,
345px	166px	1px	1px	blue,
344px	153px	1px	1px	blue,
347px	381px	1px	1px	blue,
349px	387px	1px	1px	blue,
352px	379px	1px	1px	blue,
354px	386px	1px	1px	blue,
356px	156px	1px	1px	blue,
356px	171px	1px	1px	blue,
358px	376px	1px	1px	blue,
358px	383px	1px	1px	blue,
361px	161px	1px	1px	blue,
362px	151px	1px	1px	blue,
362px	171px	1px	1px	blue,
364px	373px	1px	1px	blue,
364px	380px	1px	1px	blue,
367px	163px	1px	1px	blue,
368px	152px	1px	1px	blue,
368px	169px	1px	1px	blue,
370px	368px	1px	1px	blue,
370px	376px	1px	1px	blue,
376px	362px	1px	1px	blue,
376px	370px	1px	1px	blue,
378px	158px	1px	1px	blue,
378px	167px	1px	1px	blue,
379px	173px	1px	1px	blue,
380px	149px	1px	1px	blue,
382px	178px	1px	1px	blue,
382px	356px	1px	1px	blue,
382px	364px	1px	1px	blue,
380px	368px	1px	1px	blue,
383px	144px	1px	1px	blue,
387px	349px	1px	1px	blue,
388px	359px	1px	1px	blue,
392px	343px	1px	1px	blue,
393px	152px	1px	1px	blue,
393px	170px	1px	1px	blue,
393px	352px	1px	1px	blue,
396px	336px	1px	1px	blue,
397px	157px	1px	1px	blue,
398px	166px	1px	1px	blue,
398px	345px	1px	1px	blue,
400px	330px	1px	1px	blue,
402px	338px	1px	1px	blue,
403px	160px	1px	1px	blue,
404px	323px	1px	1px	blue,
405px	168px	1px	1px	blue,
407px	332px	1px	1px	blue,
407px	153px	1px	1px	blue,
408px	316px	1px	1px	blue,
410px	171px	1px	1px	blue,
411px	324px	1px	1px	blue,
412px	311px	1px	1px	blue,
410px	331px	1px	1px	blue,
411px	151px	1px	1px	blue,
415px	320px	1px	1px	blue,
418px	310px	1px	1px	blue,
416px	315px	1px	1px	blue,
419px	145px	1px	1px	blue,
419px	177px	1px	1px	blue,
420px	289px	1px	1px	blue,
422px	151px	1px	1px	blue,
423px	170px	1px	1px	blue,
421px	309px	1px	1px	blue,
424px	159px	1px	1px	blue,
423px	165px	1px	1px	blue,
424px	286px	1px	1px	blue,
428px	290px	1px	1px	blue,
428px	279px	1px	1px	blue,
432px	272px	1px	1px	blue,
432px	287px	1px	1px	blue,
434px	279px	1px	1px	blue,
436px	265px	1px	1px	blue,
438px	274px	1px	1px	blue,
440px	259px	1px	1px	blue,
442px	267px	1px	1px	blue,
444px	253px	1px	1px	blue,
447px	260px	1px	1px	blue,
449px	246px	1px	1px	blue,
452px	254px	1px	1px	blue,
454px	240px	1px	1px	blue,
457px	248px	1px	1px	blue,
460px	234px	1px	1px	blue,
461px	241px	1px	1px	blue,
466px	229px	1px	1px	blue,
466px	236px	1px	1px	blue,
464px	240px	1px	1px	blue,
472px	224px	1px	1px	blue,
472px	232px	1px	1px	blue,
478px	220px	1px	1px	blue,
478px	227px	1px	1px	blue,
484px	217px	1px	1px	blue,
484px	224px	1px	1px	blue,
490px	215px	1px	1px	blue,
490px	222px	1px	1px	blue,
496px	214px	1px	1px	blue,
495px	220px	1px	1px	blue,
502px	211px	1px	1px	blue,
502px	217px	1px	1px	blue,
506px	210px	1px	1px	blue,
506px	216px	1px	1px	blue,
522px	211px	1px	1px	blue,
522px	216px	1px	1px	blue,
528px	211px	1px	1px	blue,
528px	218px	1px	1px	blue,
534px	212px	1px	1px	blue,
534px	220px	1px	1px	blue,
539px	222px	1px	1px	blue,
540px	214px	1px	1px	blue,
545px	221px	1px	1px	blue,
546px	217px	1px	1px	blue,
549px	227px	1px	1px	blue,
552px	220px	1px	1px	blue,
554px	227px	1px	1px	blue,
557px	233px	1px	1px	blue,
560px	226px	1px	1px	blue,
562px	233px	1px	1px	blue,
563px	240px	1px	1px	blue,
568px	234px	1px	1px	blue,
569px	240px	1px	1px	blue,
569px	247px	1px	1px	blue,
573px	252px	1px	1px	blue,
575px	240px	1px	1px	blue,
575px	246px	1px	1px	blue,
578px	257px	1px	1px	blue,
580px	249px	1px	1px	blue,
582px	263px	1px	1px	blue,
585px	256px	1px	1px	blue,
586px	269px	1px	1px	blue,
589px	263px	1px	1px	blue,
590px	275px	1px	1px	blue,
593px	269px	1px	1px	blue,
594px	283px	1px	1px	blue,
596px	289px	1px	1px	blue,
597px	276px	1px	1px	blue,
601px	282px	1px	1px	blue,
602px	290px	1px	1px	blue,
607px	309px	1px	1px	blue,
606px	289px	1px	1px	blue,
611px	316px	1px	1px	blue,
613px	309px	1px	1px	blue,
614px	319px	1px	1px	blue,
617px	326px	1px	1px	blue,
618px	311px	1px	1px	blue,
620px	318px	1px	1px	blue,
620px	332px	1px	1px	blue,
623px	324px	1px	1px	blue,
625px	339px	1px	1px	blue,
627px	331px	1px	1px	blue,
628px	329px	1px	1px	blue,
630px	340px	1px	1px	blue,
630px	347px	1px	1px	blue,
632px	335px	1px	1px	blue,
634px	352px	1px	1px	blue,
636px	343px	1px	1px	blue,
639px	357px	1px	1px	blue,
640px	349px	1px	1px	blue,
643px	363px	1px	1px	blue,
644px	354px	1px	1px	blue,
649px	361px	1px	1px	blue,
649px	369px	1px	1px	blue,
655px	364px	1px	1px	blue,
655px	371px	1px	1px	blue,
656px	376px	1px	1px	blue,
661px	369px	1px	1px	blue,
662px	376px	1px	1px	blue,
663px	381px	1px	1px	blue,
668px	374px	1px	1px	blue,
669px	381px	1px	1px	blue,
673px	385px	1px	1px	blue,
675px	378px	1px	1px	blue,
678px	385px	1px	1px	blue,
684px	381px	1px	1px	blue,
684px	388px	1px	1px	blue,
690px	382px	1px	1px	blue,
690px	389px	1px	1px	blue,
696px	384px	1px	1px	blue,
696px	390px	1px	1px	blue,
702px	385px	1px	1px	blue,
702px	391px	1px	1px	blue,
708px	383px	1px	1px	blue,
708px	389px	1px	1px	blue,
715px	382px	1px	1px	blue,
714px	389px	1px	1px	blue,
720px	381px	1px	1px	blue,
720px	388px	1px	1px	blue,
726px	378px	1px	1px	blue,
726px	385px	1px	1px	blue,
732px	375px	1px	1px	blue,
732px	382px	1px	1px	blue,
738px	371px	1px	1px	blue,
738px	379px	1px	1px	blue,
744px	366px	1px	1px	blue,
744px	374px	1px	1px	blue,
750px	360px	1px	1px	blue,
750px	368px	1px	1px	blue,
755px	354px	1px	1px	blue,
756px	363px	1px	1px	blue,
760px	348px	1px	1px	blue,
761px	357px	1px	1px	blue,
764px	342px	1px	1px	blue,
766px	351px	1px	1px	blue,
768px	336px	1px	1px	blue,
770px	344px	1px	1px	blue,
772px	330px	1px	1px	blue,
775px	337px	1px	1px	blue,
776px	324px	1px	1px	blue,
781px	329px	1px	1px	blue,
783px	323px	1px	1px	blue,
786px	309px	1px	1px	blue,
786px	316px	1px	1px	blue,
786px	321px	1px	1px	blue,
791px	308px	1px	1px	blue,
798px	290px	1px	1px	blue,
799px	276px	1px	1px	blue,
804px	272px	1px	1px	blue,
803px	289px	1px	1px	blue,
808px	276px	1px	1px	blue,
808px	265px	1px	1px	blue,
812px	259px	1px	1px	blue,
812px	271px	1px	1px	blue,
816px	253px	1px	1px	blue,
816px	264px	1px	1px	blue,
821px	246px	1px	1px	blue,
822px	257px	1px	1px	blue,
826px	240px	1px	1px	blue,
827px	250px	1px	1px	blue,
832px	234px	1px	1px	blue,
832px	242px	1px	1px	blue,
838px	229px	1px	1px	blue,
838px	236px	1px	1px	blue,
836px	240px	1px	1px	blue,
844px	224px	1px	1px	blue,
844px	232px	1px	1px	blue,
850px	220px	1px	1px	blue,
850px	227px	1px	1px	blue,
856px	217px	1px	1px	blue,
856px	224px	1px	1px	blue,
863px	214px	1px	1px	blue,
862px	221px	1px	1px	blue,
868px	214px	1px	1px	blue,
867px	220px	1px	1px	blue,
875px	211px	1px	1px	blue,
874px	218px	1px	1px	blue,
880px	209px	1px	1px	blue,
880px	216px	1px	1px	blue,
886px	210px	1px	1px	blue,
886px	215px	1px	1px	blue,
890px	215px	1px	1px	blue,
113px	301px	1px	1px	black,
115px	305px	1px	1px	black,
116px	296px	1px	1px	black,
119px	302px	1px	1px	black,
121px	296px	1px	1px	black,
124px	303px	1px	1px	black,
126px	296px	1px	1px	black,
129px	303px	1px	1px	black,
131px	296px	1px	1px	black,
134px	303px	1px	1px	black,
136px	296px	1px	1px	black,
139px	303px	1px	1px	black,
141px	296px	1px	1px	black,
144px	303px	1px	1px	black,
146px	296px	1px	1px	black,
147px	206px	1px	1px	black,
145px	222px	1px	1px	black,
145px	240px	1px	1px	black,
145px	243px	1px	1px	black,
145px	258px	1px	1px	black,
145px	275px	1px	1px	black,
145px	327px	1px	1px	black,
145px	345px	1px	1px	black,
145px	361px	1px	1px	black,
145px	379px	1px	1px	black,
146px	394px	1px	1px	black,
146px	364px	1px	1px	black,
149px	303px	1px	1px	black,
151px	296px	1px	1px	black,
154px	303px	1px	1px	black,
156px	296px	1px	1px	black,
159px	303px	1px	1px	black,
160px	394px	1px	1px	black,
161px	205px	1px	1px	black,
161px	296px	1px	1px	black,
164px	303px	1px	1px	black,
164px	394px	1px	1px	black,
165px	205px	1px	1px	black,
166px	296px	1px	1px	black,
169px	303px	1px	1px	black,
171px	297px	1px	1px	black,
174px	303px	1px	1px	black,
176px	297px	1px	1px	black,
178px	394px	1px	1px	black,
179px	205px	1px	1px	black,
179px	303px	1px	1px	black,
181px	297px	1px	1px	black,
181px	394px	1px	1px	black,
183px	205px	1px	1px	black,
184px	303px	1px	1px	black,
186px	296px	1px	1px	black,
189px	303px	1px	1px	black,
191px	296px	1px	1px	black,
194px	303px	1px	1px	black,
195px	394px	1px	1px	black,
196px	205px	1px	1px	black,
196px	296px	1px	1px	black,
199px	300px	1px	1px	black,
200px	304px	1px	1px	black,
199px	394px	1px	1px	black,
200px	205px	1px	1px	black,
204px	297px	1px	1px	black,
205px	303px	1px	1px	black,
209px	297px	1px	1px	black,
210px	303px	1px	1px	black,
212px	394px	1px	1px	black,
213px	205px	1px	1px	black,
214px	297px	1px	1px	black,
214px	303px	1px	1px	black,
216px	394px	1px	1px	black,
217px	205px	1px	1px	black,
219px	296px	1px	1px	black,
220px	303px	1px	1px	black,
224px	296px	1px	1px	black,
225px	303px	1px	1px	black,
229px	297px	1px	1px	black,
230px	303px	1px	1px	black,
230px	394px	1px	1px	black,
231px	205px	1px	1px	black,
233px	223px	1px	1px	black,
233px	238px	1px	1px	black,
233px	243px	1px	1px	black,
233px	256px	1px	1px	black,
232px	260px	1px	1px	black,
233px	274px	1px	1px	black,
233px	294px	1px	1px	black,
233px	312px	1px	1px	black,
233px	325px	1px	1px	black,
233px	344px	1px	1px	black,
233px	362px	1px	1px	black,
233px	379px	1px	1px	black,
233px	277px	1px	1px	black,
235px	302px	1px	1px	black,
233px	329px	1px	1px	black,
234px	394px	1px	1px	black,
235px	205px	1px	1px	black,
236px	304px	1px	1px	black,
239px	296px	1px	1px	black,
241px	303px	1px	1px	black,
244px	296px	1px	1px	black,
246px	302px	1px	1px	black,
247px	394px	1px	1px	black,
248px	205px	1px	1px	black,
249px	296px	1px	1px	black,
251px	303px	1px	1px	black,
251px	394px	1px	1px	black,
252px	205px	1px	1px	black,
254px	296px	1px	1px	black,
256px	303px	1px	1px	black,
259px	296px	1px	1px	black,
261px	303px	1px	1px	black,
264px	296px	1px	1px	black,
264px	394px	1px	1px	black,
266px	205px	1px	1px	black,
266px	303px	1px	1px	black,
269px	296px	1px	1px	black,
268px	394px	1px	1px	black,
270px	205px	1px	1px	black,
271px	303px	1px	1px	black,
274px	296px	1px	1px	black,
276px	303px	1px	1px	black,
279px	296px	1px	1px	black,
281px	303px	1px	1px	black,
282px	394px	1px	1px	black,
283px	205px	1px	1px	black,
284px	296px	1px	1px	black,
286px	303px	1px	1px	black,
286px	394px	1px	1px	black,
287px	205px	1px	1px	black,
289px	296px	1px	1px	black,
291px	303px	1px	1px	black,
294px	296px	1px	1px	black,
296px	303px	1px	1px	black,
299px	296px	1px	1px	black,
299px	394px	1px	1px	black,
300px	205px	1px	1px	black,
301px	303px	1px	1px	black,
304px	296px	1px	1px	black,
303px	394px	1px	1px	black,
304px	205px	1px	1px	black,
306px	303px	1px	1px	black,
309px	296px	1px	1px	black,
311px	303px	1px	1px	black,
314px	296px	1px	1px	black,
316px	303px	1px	1px	black,
317px	394px	1px	1px	black,
318px	205px	1px	1px	black,
319px	296px	1px	1px	black,
321px	303px	1px	1px	black,
321px	394px	1px	1px	black,
322px	206px	1px	1px	black,
324px	296px	1px	1px	black,
326px	302px	1px	1px	black,
325px	379px	1px	1px	black,
325px	223px	1px	1px	black,
325px	241px	1px	1px	black,
325px	258px	1px	1px	black,
325px	274px	1px	1px	black,
325px	291px	1px	1px	black,
326px	305px	1px	1px	black,
325px	311px	1px	1px	black,
325px	327px	1px	1px	black,
325px	344px	1px	1px	black,
325px	362px	1px	1px	black,
325px	394px	1px	1px	black,
326px	208px	1px	1px	black,
326px	277px	1px	1px	black,
329px	296px	1px	1px	black,
331px	302px	1px	1px	black,
334px	296px	1px	1px	black,
334px	394px	1px	1px	black,
335px	205px	1px	1px	black,
336px	303px	1px	1px	black,
339px	296px	1px	1px	black,
338px	394px	1px	1px	black,
339px	205px	1px	1px	black,
341px	302px	1px	1px	black,
344px	296px	1px	1px	black,
346px	303px	1px	1px	black,
349px	296px	1px	1px	black,
351px	303px	1px	1px	black,
351px	394px	1px	1px	black,
352px	205px	1px	1px	black,
354px	296px	1px	1px	black,
356px	303px	1px	1px	black,
355px	394px	1px	1px	black,
356px	205px	1px	1px	black,
359px	296px	1px	1px	black,
361px	303px	1px	1px	black,
364px	296px	1px	1px	black,
366px	303px	1px	1px	black,
369px	296px	1px	1px	black,
369px	394px	1px	1px	black,
370px	205px	1px	1px	black,
371px	303px	1px	1px	black,
374px	296px	1px	1px	black,
373px	394px	1px	1px	black,
374px	205px	1px	1px	black,
376px	303px	1px	1px	black,
379px	296px	1px	1px	black,
381px	303px	1px	1px	black,
384px	296px	1px	1px	black,
386px	303px	1px	1px	black,
386px	394px	1px	1px	black,
385px	180px	1px	1px	black,
387px	205px	1px	1px	black,
389px	296px	1px	1px	black,
391px	303px	1px	1px	black,
390px	394px	1px	1px	black,
391px	205px	1px	1px	black,
394px	296px	1px	1px	black,
396px	303px	1px	1px	black,
399px	296px	1px	1px	black,
401px	303px	1px	1px	black,
403px	394px	1px	1px	black,
404px	296px	1px	1px	black,
405px	205px	1px	1px	black,
406px	303px	1px	1px	black,
407px	394px	1px	1px	black,
409px	296px	1px	1px	black,
409px	205px	1px	1px	black,
411px	302px	1px	1px	black,
414px	296px	1px	1px	black,
416px	302px	1px	1px	black,
419px	296px	1px	1px	black,
421px	301px	1px	1px	black,
421px	394px	1px	1px	black,
422px	206px	1px	1px	black,
422px	223px	1px	1px	black,
422px	241px	1px	1px	black,
422px	258px	1px	1px	black,
422px	275px	1px	1px	black,
424px	294px	1px	1px	black,
423px	307px	1px	1px	black,
422px	327px	1px	1px	black,
422px	344px	1px	1px	black,
422px	361px	1px	1px	black,
422px	378px	1px	1px	black,
426px	299px	1px	1px	black,
425px	394px	1px	1px	black,
426px	205px	1px	1px	black,
429px	303px	1px	1px	black,
431px	296px	1px	1px	black,
434px	303px	1px	1px	black,
436px	296px	1px	1px	black,
438px	394px	1px	1px	black,
439px	205px	1px	1px	black,
439px	303px	1px	1px	black,
441px	296px	1px	1px	black,
442px	394px	1px	1px	black,
443px	205px	1px	1px	black,
444px	303px	1px	1px	black,
446px	296px	1px	1px	black,
449px	303px	1px	1px	black,
451px	296px	1px	1px	black,
454px	303px	1px	1px	black,
455px	394px	1px	1px	black,
456px	296px	1px	1px	black,
457px	205px	1px	1px	black,
459px	303px	1px	1px	black,
459px	394px	1px	1px	black,
461px	296px	1px	1px	black,
461px	205px	1px	1px	black,
464px	303px	1px	1px	black,
466px	296px	1px	1px	black,
469px	303px	1px	1px	black,
471px	296px	1px	1px	black,
473px	394px	1px	1px	black,
474px	303px	1px	1px	black,
475px	205px	1px	1px	black,
476px	296px	1px	1px	black,
477px	394px	1px	1px	black,
479px	303px	1px	1px	black,
479px	205px	1px	1px	black,
481px	296px	1px	1px	black,
484px	303px	1px	1px	black,
486px	296px	1px	1px	black,
489px	303px	1px	1px	black,
490px	394px	1px	1px	black,
491px	296px	1px	1px	black,
492px	205px	1px	1px	black,
493px	116px	1px	1px	black,
494px	303px	1px	1px	black,
494px	394px	1px	1px	black,
496px	296px	1px	1px	black,
497px	112px	1px	1px	black,
496px	205px	1px	1px	black,
498px	117px	1px	1px	black,
499px	303px	1px	1px	black,
500px	106px	1px	1px	black,
501px	296px	1px	1px	black,
502px	114px	1px	1px	black,
503px	101px	1px	1px	black,
504px	117px	1px	1px	black,
504px	303px	1px	1px	black,
505px	108px	1px	1px	black,
506px	95px	1px	1px	black,
506px	296px	1px	1px	black,
508px	103px	1px	1px	black,
508px	113px	1px	1px	black,
508px	394px	1px	1px	black,
509px	90px	1px	1px	black,
509px	206px	1px	1px	black,
509px	219px	1px	1px	black,
509px	301px	1px	1px	black,
510px	120px	1px	1px	black,
510px	126px	1px	1px	black,
510px	131px	1px	1px	black,
510px	136px	1px	1px	black,
510px	141px	1px	1px	black,
510px	146px	1px	1px	black,
510px	151px	1px	1px	black,
510px	156px	1px	1px	black,
510px	161px	1px	1px	black,
510px	166px	1px	1px	black,
510px	171px	1px	1px	black,
510px	176px	1px	1px	black,
510px	181px	1px	1px	black,
510px	186px	1px	1px	black,
510px	191px	1px	1px	black,
510px	196px	1px	1px	black,
510px	200px	1px	1px	black,
510px	213px	1px	1px	black,
510px	225px	1px	1px	black,
510px	231px	1px	1px	black,
510px	236px	1px	1px	black,
510px	241px	1px	1px	black,
510px	246px	1px	1px	black,
510px	251px	1px	1px	black,
510px	256px	1px	1px	black,
510px	261px	1px	1px	black,
510px	266px	1px	1px	black,
510px	271px	1px	1px	black,
510px	276px	1px	1px	black,
510px	281px	1px	1px	black,
510px	286px	1px	1px	black,
510px	291px	1px	1px	black,
510px	309px	1px	1px	black,
510px	316px	1px	1px	black,
510px	321px	1px	1px	black,
510px	326px	1px	1px	black,
510px	330px	1px	1px	black,
510px	336px	1px	1px	black,
510px	342px	1px	1px	black,
510px	347px	1px	1px	black,
510px	352px	1px	1px	black,
510px	357px	1px	1px	black,
510px	362px	1px	1px	black,
510px	367px	1px	1px	black,
510px	372px	1px	1px	black,
510px	377px	1px	1px	black,
510px	382px	1px	1px	black,
510px	387px	1px	1px	black,
510px	401px	1px	1px	black,
510px	407px	1px	1px	black,
510px	412px	1px	1px	black,
510px	417px	1px	1px	black,
510px	422px	1px	1px	black,
510px	427px	1px	1px	black,
510px	432px	1px	1px	black,
509px	438px	1px	1px	black,
511px	98px	1px	1px	black,
511px	107px	1px	1px	black,
512px	85px	1px	1px	black,
512px	295px	1px	1px	black,
513px	114px	1px	1px	black,
513px	394px	1px	1px	black,
514px	93px	1px	1px	black,
514px	103px	1px	1px	black,
514px	208px	1px	1px	black,
514px	303px	1px	1px	black,
514px	83px	1px	1px	black,
515px	121px	1px	1px	black,
515px	127px	1px	1px	black,
515px	132px	1px	1px	black,
515px	137px	1px	1px	black,
515px	142px	1px	1px	black,
515px	147px	1px	1px	black,
515px	152px	1px	1px	black,
515px	157px	1px	1px	black,
515px	162px	1px	1px	black,
515px	167px	1px	1px	black,
515px	172px	1px	1px	black,
515px	177px	1px	1px	black,
515px	182px	1px	1px	black,
515px	187px	1px	1px	black,
515px	192px	1px	1px	black,
515px	197px	1px	1px	black,
514px	202px	1px	1px	black,
515px	216px	1px	1px	black,
515px	222px	1px	1px	black,
515px	227px	1px	1px	black,
515px	232px	1px	1px	black,
515px	237px	1px	1px	black,
515px	242px	1px	1px	black,
515px	247px	1px	1px	black,
515px	252px	1px	1px	black,
515px	257px	1px	1px	black,
515px	262px	1px	1px	black,
515px	267px	1px	1px	black,
515px	272px	1px	1px	black,
515px	277px	1px	1px	black,
515px	282px	1px	1px	black,
515px	287px	1px	1px	black,
515px	292px	1px	1px	black,
515px	311px	1px	1px	black,
515px	317px	1px	1px	black,
515px	322px	1px	1px	black,
515px	327px	1px	1px	black,
515px	332px	1px	1px	black,
515px	337px	1px	1px	black,
515px	342px	1px	1px	black,
515px	347px	1px	1px	black,
515px	352px	1px	1px	black,
515px	357px	1px	1px	black,
515px	362px	1px	1px	black,
515px	367px	1px	1px	black,
515px	372px	1px	1px	black,
515px	377px	1px	1px	black,
515px	382px	1px	1px	black,
515px	387px	1px	1px	black,
515px	401px	1px	1px	black,
515px	407px	1px	1px	black,
515px	412px	1px	1px	black,
515px	417px	1px	1px	black,
515px	422px	1px	1px	black,
515px	427px	1px	1px	black,
515px	432px	1px	1px	black,
514px	438px	1px	1px	black,
517px	89px	1px	1px	black,
517px	97px	1px	1px	black,
517px	108px	1px	1px	black,
517px	298px	1px	1px	black,
518px	115px	1px	1px	black,
517px	395px	1px	1px	black,
518px	207px	1px	1px	black,
518px	123px	1px	1px	black,
518px	129px	1px	1px	black,
518px	134px	1px	1px	black,
518px	139px	1px	1px	black,
518px	144px	1px	1px	black,
518px	149px	1px	1px	black,
518px	154px	1px	1px	black,
518px	159px	1px	1px	black,
518px	164px	1px	1px	black,
518px	169px	1px	1px	black,
518px	174px	1px	1px	black,
518px	179px	1px	1px	black,
518px	184px	1px	1px	black,
518px	189px	1px	1px	black,
518px	194px	1px	1px	black,
518px	199px	1px	1px	black,
518px	215px	1px	1px	black,
518px	220px	1px	1px	black,
518px	225px	1px	1px	black,
518px	230px	1px	1px	black,
518px	235px	1px	1px	black,
518px	240px	1px	1px	black,
518px	245px	1px	1px	black,
518px	250px	1px	1px	black,
518px	255px	1px	1px	black,
518px	260px	1px	1px	black,
518px	265px	1px	1px	black,
518px	269px	1px	1px	black,
518px	276px	1px	1px	black,
518px	279px	1px	1px	black,
518px	285px	1px	1px	black,
518px	290px	1px	1px	black,
520px	303px	1px	1px	black,
518px	310px	1px	1px	black,
518px	315px	1px	1px	black,
518px	320px	1px	1px	black,
518px	325px	1px	1px	black,
518px	329px	1px	1px	black,
518px	334px	1px	1px	black,
518px	338px	1px	1px	black,
518px	344px	1px	1px	black,
518px	349px	1px	1px	black,
518px	354px	1px	1px	black,
518px	359px	1px	1px	black,
518px	364px	1px	1px	black,
518px	369px	1px	1px	black,
518px	374px	1px	1px	black,
518px	379px	1px	1px	black,
518px	384px	1px	1px	black,
518px	389px	1px	1px	black,
518px	403px	1px	1px	black,
518px	409px	1px	1px	black,
518px	414px	1px	1px	black,
518px	419px	1px	1px	black,
518px	424px	1px	1px	black,
518px	429px	1px	1px	black,
518px	434px	1px	1px	black,
518px	438px	1px	1px	black,
521px	93px	1px	1px	black,
522px	98px	1px	1px	black,
522px	103px	1px	1px	black,
522px	108px	1px	1px	black,
522px	296px	1px	1px	black,
523px	115px	1px	1px	black,
525px	303px	1px	1px	black,
525px	394px	1px	1px	black,
526px	102px	1px	1px	black,
527px	107px	1px	1px	black,
527px	205px	1px	1px	black,
527px	296px	1px	1px	black,
528px	112px	1px	1px	black,
528px	117px	1px	1px	black,
530px	303px	1px	1px	black,
529px	394px	1px	1px	black,
531px	205px	1px	1px	black,
532px	296px	1px	1px	black,
532px	112px	1px	1px	black,
533px	116px	1px	1px	black,
535px	303px	1px	1px	black,
537px	296px	1px	1px	black,
536px	118px	1px	1px	black,
540px	303px	1px	1px	black,
542px	296px	1px	1px	black,
542px	394px	1px	1px	black,
544px	205px	1px	1px	black,
545px	303px	1px	1px	black,
547px	296px	1px	1px	black,
546px	394px	1px	1px	black,
548px	205px	1px	1px	black,
550px	303px	1px	1px	black,
552px	296px	1px	1px	black,
555px	303px	1px	1px	black,
557px	90px	1px	1px	black,
557px	296px	1px	1px	black,
558px	111px	1px	1px	black,
559px	95px	1px	1px	black,
560px	303px	1px	1px	black,
560px	394px	1px	1px	black,
561px	100px	1px	1px	black,
562px	205px	1px	1px	black,
562px	296px	1px	1px	black,
563px	105px	1px	1px	black,
562px	111px	1px	1px	black,
565px	303px	1px	1px	black,
564px	394px	1px	1px	black,
567px	98px	1px	1px	black,
565px	205px	1px	1px	black,
567px	296px	1px	1px	black,
566px	104px	1px	1px	black,
569px	91px	1px	1px	black,
570px	303px	1px	1px	black,
572px	296px	1px	1px	black,
572px	89px	1px	1px	black,
575px	303px	1px	1px	black,
577px	296px	1px	1px	black,
577px	394px	1px	1px	black,
579px	205px	1px	1px	black,
580px	303px	1px	1px	black,
582px	296px	1px	1px	black,
581px	394px	1px	1px	black,
583px	205px	1px	1px	black,
585px	303px	1px	1px	black,
587px	296px	1px	1px	black,
590px	303px	1px	1px	black,
592px	296px	1px	1px	black,
594px	394px	1px	1px	black,
595px	303px	1px	1px	black,
596px	205px	1px	1px	black,
597px	296px	1px	1px	black,
598px	394px	1px	1px	black,
600px	303px	1px	1px	black,
600px	205px	1px	1px	black,
602px	296px	1px	1px	black,
604px	302px	1px	1px	black,
607px	295px	1px	1px	black,
608px	259px	1px	1px	black,
607px	277px	1px	1px	black,
607px	291px	1px	1px	black,
609px	305px	1px	1px	black,
608px	311px	1px	1px	black,
608px	328px	1px	1px	black,
607px	344px	1px	1px	black,
608px	379px	1px	1px	black,
609px	206px	1px	1px	black,
608px	223px	1px	1px	black,
608px	241px	1px	1px	black,
608px	273px	1px	1px	black,
610px	301px	1px	1px	black,
608px	362px	1px	1px	black,
610px	394px	1px	1px	black,
609px	255px	1px	1px	black,
609px	324px	1px	1px	black,
612px	296px	1px	1px	black,
615px	205px	1px	1px	black,
615px	303px	1px	1px	black,
615px	394px	1px	1px	black,
617px	296px	1px	1px	black,
618px	205px	1px	1px	black,
620px	303px	1px	1px	black,
622px	296px	1px	1px	black,
625px	302px	1px	1px	black,
627px	296px	1px	1px	black,
629px	394px	1px	1px	black,
630px	303px	1px	1px	black,
631px	205px	1px	1px	black,
632px	296px	1px	1px	black,
633px	394px	1px	1px	black,
635px	303px	1px	1px	black,
635px	205px	1px	1px	black,
637px	296px	1px	1px	black,
640px	303px	1px	1px	black,
642px	296px	1px	1px	black,
645px	303px	1px	1px	black,
647px	296px	1px	1px	black,
647px	394px	1px	1px	black,
648px	205px	1px	1px	black,
650px	303px	1px	1px	black,
652px	296px	1px	1px	black,
651px	394px	1px	1px	black,
652px	205px	1px	1px	black,
655px	303px	1px	1px	black,
657px	296px	1px	1px	black,
660px	303px	1px	1px	black,
662px	296px	1px	1px	black,
664px	394px	1px	1px	black,
665px	303px	1px	1px	black,
666px	205px	1px	1px	black,
667px	296px	1px	1px	black,
668px	394px	1px	1px	black,
670px	303px	1px	1px	black,
670px	205px	1px	1px	black,
672px	296px	1px	1px	black,
675px	303px	1px	1px	black,
677px	296px	1px	1px	black,
680px	303px	1px	1px	black,
681px	394px	1px	1px	black,
682px	296px	1px	1px	black,
683px	205px	1px	1px	black,
685px	303px	1px	1px	black,
685px	394px	1px	1px	black,
687px	296px	1px	1px	black,
687px	205px	1px	1px	black,
690px	303px	1px	1px	black,
692px	296px	1px	1px	black,
695px	303px	1px	1px	black,
697px	296px	1px	1px	black,
699px	394px	1px	1px	black,
700px	206px	1px	1px	black,
698px	223px	1px	1px	black,
698px	241px	1px	1px	black,
698px	258px	1px	1px	black,
698px	275px	1px	1px	black,
698px	291px	1px	1px	black,
700px	302px	1px	1px	black,
698px	306px	1px	1px	black,
698px	311px	1px	1px	black,
698px	327px	1px	1px	black,
698px	344px	1px	1px	black,
698px	362px	1px	1px	black,
698px	378px	1px	1px	black,
702px	296px	1px	1px	black,
703px	394px	1px	1px	black,
704px	205px	1px	1px	black,
705px	303px	1px	1px	black,
707px	296px	1px	1px	black,
710px	302px	1px	1px	black,
712px	296px	1px	1px	black,
715px	303px	1px	1px	black,
716px	394px	1px	1px	black,
717px	296px	1px	1px	black,
718px	205px	1px	1px	black,
720px	303px	1px	1px	black,
720px	394px	1px	1px	black,
722px	296px	1px	1px	black,
722px	205px	1px	1px	black,
725px	303px	1px	1px	black,
727px	296px	1px	1px	black,
730px	303px	1px	1px	black,
732px	296px	1px	1px	black,
733px	394px	1px	1px	black,
735px	205px	1px	1px	black,
735px	303px	1px	1px	black,
737px	296px	1px	1px	black,
737px	394px	1px	1px	black,
739px	205px	1px	1px	black,
740px	303px	1px	1px	black,
742px	296px	1px	1px	black,
745px	303px	1px	1px	black,
747px	296px	1px	1px	black,
750px	303px	1px	1px	black,
751px	394px	1px	1px	black,
752px	296px	1px	1px	black,
753px	205px	1px	1px	black,
755px	303px	1px	1px	black,
755px	394px	1px	1px	black,
757px	296px	1px	1px	black,
756px	205px	1px	1px	black,
760px	303px	1px	1px	black,
762px	296px	1px	1px	black,
765px	303px	1px	1px	black,
767px	296px	1px	1px	black,
768px	394px	1px	1px	black,
770px	205px	1px	1px	black,
770px	303px	1px	1px	black,
772px	296px	1px	1px	black,
772px	394px	1px	1px	black,
774px	205px	1px	1px	black,
775px	303px	1px	1px	black,
777px	296px	1px	1px	black,
780px	303px	1px	1px	black,
782px	296px	1px	1px	black,
785px	303px	1px	1px	black,
786px	394px	1px	1px	black,
787px	205px	1px	1px	black,
787px	296px	1px	1px	black,
790px	303px	1px	1px	black,
789px	394px	1px	1px	black,
792px	206px	1px	1px	black,
792px	296px	1px	1px	black,
795px	302px	1px	1px	black,
793px	307px	1px	1px	black,
794px	223px	1px	1px	black,
794px	241px	1px	1px	black,
794px	258px	1px	1px	black,
794px	274px	1px	1px	black,
794px	310px	1px	1px	black,
794px	327px	1px	1px	black,
794px	345px	1px	1px	black,
794px	361px	1px	1px	black,
794px	378px	1px	1px	black,
794px	394px	1px	1px	black,
795px	208px	1px	1px	black,
795px	277px	1px	1px	black,
797px	296px	1px	1px	black,
800px	303px	1px	1px	black,
802px	295px	1px	1px	black,
803px	394px	1px	1px	black,
805px	205px	1px	1px	black,
805px	303px	1px	1px	black,
807px	296px	1px	1px	black,
807px	394px	1px	1px	black,
809px	205px	1px	1px	black,
810px	303px	1px	1px	black,
812px	296px	1px	1px	black,
815px	303px	1px	1px	black,
817px	296px	1px	1px	black,
820px	303px	1px	1px	black,
820px	394px	1px	1px	black,
822px	296px	1px	1px	black,
823px	205px	1px	1px	black,
825px	303px	1px	1px	black,
824px	394px	1px	1px	black,
827px	296px	1px	1px	black,
827px	205px	1px	1px	black,
830px	303px	1px	1px	black,
832px	296px	1px	1px	black,
835px	303px	1px	1px	black,
837px	296px	1px	1px	black,
838px	394px	1px	1px	black,
840px	205px	1px	1px	black,
840px	303px	1px	1px	black,
842px	296px	1px	1px	black,
842px	394px	1px	1px	black,
844px	205px	1px	1px	black,
845px	303px	1px	1px	black,
847px	296px	1px	1px	black,
850px	303px	1px	1px	black,
852px	296px	1px	1px	black,
855px	303px	1px	1px	black,
855px	394px	1px	1px	black,
857px	205px	1px	1px	black,
857px	296px	1px	1px	black,
860px	303px	1px	1px	black,
859px	394px	1px	1px	black,
861px	205px	1px	1px	black,
862px	296px	1px	1px	black,
865px	303px	1px	1px	black,
867px	296px	1px	1px	black,
870px	303px	1px	1px	black,
872px	296px	1px	1px	black,
872px	394px	1px	1px	black,
875px	205px	1px	1px	black,
875px	303px	1px	1px	black,
877px	296px	1px	1px	black,
876px	394px	1px	1px	black,
879px	205px	1px	1px	black,
880px	303px	1px	1px	black,
882px	296px	1px	1px	black,
885px	303px	1px	1px	black,
887px	296px	1px	1px	black,
889px	207px	1px	1px	black,
889px	302px	1px	1px	black,
889px	394px	1px	1px	black,
890px	222px	1px	1px	black,
890px	241px	1px	1px	black,
890px	258px	1px	1px	black,
890px	275px	1px	1px	black,
890px	290px	1px	1px	black,
892px	296px	1px	1px	black,
892px	305px	1px	1px	black,
890px	311px	1px	1px	black,
890px	327px	1px	1px	black,
890px	345px	1px	1px	black,
890px	362px	1px	1px	black,
890px	379px	1px	1px	black,
891px	225px	1px	1px	black,
895px	302px	1px	1px	black,
897px	296px	1px	1px	black,
900px	303px	1px	1px	black,
902px	296px	1px	1px	black,
905px	303px	1px	1px	black,
907px	296px	1px	1px	black,
910px	303px	1px	1px	black,
912px	296px	1px	1px	black,
915px	303px	1px	1px	black,
917px	296px	1px	1px	black,
919px	302px	1px	1px	black,
920px	280px	1px	1px	black,
921px	286px	1px	1px	black,
921px	291px	1px	1px	black,
921px	309px	1px	1px	black,
921px	316px	1px	1px	black,
921px	320px	1px	1px	black,
923px	295px	1px	1px	black,
925px	301px	1px	1px	black,
926px	283px	1px	1px	black,
926px	288px	1px	1px	black,
926px	307px	1px	1px	black,
925px	315px	1px	1px	black,
928px	293px	1px	1px	black,
930px	299px	1px	1px	black,
930px	342px	1px	1px	black,
930px	355px	1px	1px	black,
931px	285px	1px	1px	black,
931px	305px	1px	1px	black,
930px	311px	1px	1px	black,
932px	314px	1px	1px	black,
933px	290px	1px	1px	black,
933px	347px	1px	1px	black,
935px	296px	1px	1px	black,
935px	352px	1px	1px	black,
936px	303px	1px	1px	black,
936px	308px	1px	1px	black,
936px	311px	1px	1px	black,
938px	289px	1px	1px	black,
938px	346px	1px	1px	black,
940px	294px	1px	1px	black,
939px	355px	1px	1px	black,
941px	301px	1px	1px	black,
941px	306px	1px	1px	black,
941px	342px	1px	1px	black,
941px	309px	1px	1px	black,
945px	293px	1px	1px	black,
943px	357px	1px	1px	black,
946px	298px	1px	1px	black,
946px	304px	1px	1px	black,
947px	306px	1px	1px	black,
951px	297px	1px	1px	black,
950px	302px	1px	1px	black,
955px	300px	1px	1px	black,
959px	300px	1px	1px	black;




}
